.TodoItem {
    padding: 1em;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    position: relative;
}
.TodoItem .LeftPart {
    display: flex;
}
.TodoItem .LeftPart input[type="checkbox"]{
    margin-right: 1em;
}
.TodoItem .deleteIcon { color: rgb(43, 43, 43); }
.TodoItem .deleteIcon:hover { color:black; }
/* .TodoItem .LeftPart input[type="checkbox"]:checked {
    background-color: black !important;
} */

.TodoItem:not(.skeleton-dark):hover{
    background-color: rgb(243, 243, 243);
}
.TodoItem:not(:last-child):after {
    content: "";
    position: absolute;
    left: 50%; top: calc(100%);
    transform: translate(-50%);

    width: 50%; height: 1px;
    background-color: #a1a1a1;
    opacity: .1;
    z-index: 1;
}
.TodoItem.done .LeftPart {
    opacity: .6;
}
.TodoItem.done .LeftPart p {
    text-decoration: line-through;
}

