.TodoCounter {
    display: grid;
    place-items: center;
    border: solid 1px black;
    padding: .6em;
    border-radius: 4px;
    height: 2em;
    margin-bottom: 10px;
}
.TodoCounter.celeb {
    border-color: #005eff;
    background-color: #005eff;
}

.TodoCounter .main {
    font-weight: bold;
}
.TodoCounter .main span {margin: 0 1em;}
.TodoCounter .main.celeb {
    color: white;
}