input[type="text"] {
    border: none;
    border-bottom: solid 2px black;
    width: 6em;
}
input[type="text"]:focus {outline: none;
}



button.primary {
    background-color: white;
    border: none;
    padding: 1em;
    border-radius: 4px;
    transition: .1s;
    cursor: pointer; 
    
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr;
    background-color: black;
    color: white;
    gap: 5px;
}
button.primary:hover {
    background-color: rgb(36, 36, 36);
}
