.TodoTextFilter {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 0 10px 0;
    cursor: pointer;
}
.TodoTextFilter input {
    border: none;
    border-bottom: solid 1px black;
    margin-left: 5px;
    width: 6em;
    cursor: pointer;
}
.TodoTextFilter input:focus {outline: none;
}