.AppUI {
    padding: 2em;
    position: relative;
    width: 100%;
}

h1.title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 5px;
}

p.subTitle {
    font-size: 1.2rem;
    margin-bottom: .5em;
}

.AddNewTodo {
    z-index: 2;
    position: fixed;
    bottom: 3rem; right: 3rem;
    width: 50px; height: 50px;
    border-radius: 100%;
    background: white;
    border: none;
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.2rem;
    transition: .3s;
    cursor: pointer;
}
.AddNewTodo:hover {
    background: rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}
.AddNewTodo svg { transition: .5s;}
.AddNewTodo.open svg { transform:rotate(45deg) }